html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.looki-logo-div {
    z-index: -1;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    place-items: center stretch;
    width: stretch;
    height: stretch;
    max-width: 100vw;
    max-height: 100vh;
    padding: 2vw;
    display: flex;
    position: absolute;
    inset: 0% 0% auto;
}
.looki-logo {
    flex: 0 auto;
    max-height: 22vh;
}
#looki-2 {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0% 0% auto;
}
@font-face {
  font-family: ABC Social Condensed Black;
  src: url("ABCSocialCondensed-Black-Trial.woff2") format("woff2"), url("ABCSocialCondensed-Black-Trial.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
	font-family: ABC Social Condensed Black;
	font-size:12pt;
	font-weight: 900;
	max-height: 100vh;
	max-width: 100vw;
	margin: 0;
	overflow: hidden;
}
.copyright {
	margin: 12px;
	position: absolute;
	inset: auto auto 0% 0%;
}
