html, body {
  margin: 0;
  padding: 0;
	font-family: ABC Social Condensed Black;
	font-weight: 900;
  font-size: 12px;
}
canvas {
  display: block;
}
.looki-logo-div {
    z-index: -1;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    place-items: center stretch;
    width: stretch;
    height: stretch;
    max-width: 100vw;
    max-height: 100vh;
    padding: 2vw;
    display: flex;
    position: absolute;
    inset: 0% 0% 3% auto;
}
.looki-logo {
    flex: 0 auto;
    max-height: 22vh;
}
#looki-2 {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0% 0% auto;
}
@font-face {
  font-family: ABC Social Condensed Black;
  src: url("ABCSocialCondensed-Black-Trial.woff2") format("woff2"), url("ABCSocialCondensed-Black-Trial.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
	max-height: 100vh;
	max-width: 100vw;
	margin: 0;
}
#copyright-wrap {
	/*position: absolute;
	inset: auto auto 0% 0%;*/
  position:fixed;
  top: auto;
  left: 0%;
  bottom: 0%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
  overflow: visible;
  transition: left 4s linear;
  font-size: 1.5rem;
}
.copyright {
	margin: 12px;
  white-space: nowrap;
}
.copyright > span {
  opacity: 0.3;
}
.button {
  font-size: 1.5rem;
  margin:12px;
  position:absolute;
  inset: 0.5rem 0.5rem auto;
  z-index:10;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
a {
  text-decoration: underline;
  color: black;
}
a:hover {
  text-decoration: none;
}
.sign-up{
  /*transform: rotate(90deg);*/
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 0.3rem;
}
.social {
  text-underline-offset: 0.25rem;
}