html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.looki-logo-div {
    z-index: -1;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    place-items: center stretch;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    padding: 2vw;
    display: flex;
    position: absolute;
    inset: 0% 0% auto;
}
.looki-logo {
    flex: 0 auto;
    max-height: 22vh;
}
#looki-2 {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0% 0% auto;
}
