html, body {
  margin: 0;
  padding: 0;
	font-family: ABC Social Condensed Black;
	font-weight: 900;
  background-color: whitesmoke;
  @media screen {
    font-size:24px;
  }
}

canvas {
  display: block;
}
.looki-logo-div {
    z-index: -1;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    place-items: center stretch;
    width: stretch;
    height: stretch;
    max-width: 100vw;
    max-height: 100vh;
    padding: 2vw;
    display: flex;
    position: absolute;
    inset: 0% 0% 3% 0%;
}
.looki-logo {
    flex: 0 auto;
    max-width: 100%;
    max-height: 22vh;
}
#looki-2 {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0% 0% auto;
}
@font-face {
  font-family: ABC Social Condensed Black;
  src: url("ABCSocialCondensed-Black-Trial.woff2") format("woff2"), url("ABCSocialCondensed-Black-Trial.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
	max-height: 100vh;
	max-width: 100vw;
	margin: 0;
}
#copyright-wrap {
	/*position: absolute;
	inset: auto auto 0% 0%;*/
  position:fixed;
  top: auto;
  left: 0%;
  bottom: 0%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0px;
  overflow: visible;
  transition: left 6.5s linear;

}
.copyright {
  @media screen {
    font-size:32px;
  }
	margin: 12px;
  white-space: nowrap;
}
.copyright > span {
  opacity: 0.3;
}
.button {
  margin: 1em;
  position:absolute;
  inset: 0.5em 0.5em auto auto;
  z-index:10;
  display: flex;
  gap: 0.75em;
  align-items: flex-start;
}
.button > a {
  text-decoration: none;
  /*text-underline-offset: 0.25rem;*/
  color: black;
  /*color: white;
  mix-blend-mode: difference;*/
  background-color: #53E399;
  border-radius: 1.5em;
  border: .2em solid black;
}
a:hover {
  text-decoration: none;
  transition: transform .25;
}
.sign-up{
  /*transform: rotate(90deg);*/
  writing-mode: vertical-lr;
  padding: 1em 0.6em 1em 0.5em;
  text-orientation: mixed;
  margin-top: 0.25em;
}
.sign-up:hover{
  background-color: #DCEDFF;
  transform: rotate(-5deg)
}
.social {
  padding: 0.6em 1em 0.5em 1em;
}
.social:hover{
  background-color: #ED7BC9;
  transform: rotate(5deg)
}